<header>
    <div class=" nav-1">
        <div>
            <div class="user-flex">
                <ng-container *ngIf="!isLoggedIn">
                    <button (click)="goToSignIn()" class="btn  me-2">{{ "SIGN_IN" | translate }}</button>
                    <button (click)="goToSignUp()" class="btn  me-2">{{ "SIGN_UP" | translate }}</button></ng-container>
                <button *ngIf="isLoggedIn" (click)="SignOut()" class="btn  me-2">{{ "SIGN_OUT" | translate }}</button>
                <button class="lang en ms-2" [class.inactive]="isEn" (click)="useEn()"></button>
                <button class="lang ka ms-2" [class.inactive]="isKa" (click)="useKa()"></button>
            </div>

        </div>
    </div>
</header>