<main>
    <section class="py-5 text-center middle">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2>{{ "SKATE_COLLECTION" | translate }}</h2>

        </div>
    </section>
    <section class="py-5 direction ">


        <div class="skate">
            <div class="skate-txt item">
                <img src="/assets/img/item1.png" alt="" width="64">
                <div class="headline-txt">{{ "PRODUCT_HEADLINE" | translate }}</div>
                <p>$100.00</p>
            </div>
            <div class="skate-txt item">
                <img src="/assets/img/item2.png" alt="" width="64">
                <div class="headline-txt">{{ "PRODUCT_HEADLINE" | translate }}</div>
                <p>$100.00</p>
            </div>
            <div class="skate-txt item">
                <img src="/assets/img/item3.png" alt="" width="64">
                <div class="headline-txt">{{ "PRODUCT_HEADLINE" | translate }}</div>
                <p>$100.00</p>
            </div>

        </div>
        <div class="skate">
            <div class="skate-txt item">
                <img src="/assets/img/item4.png" alt="" width="64">
                <div class="headline-txt">{{ "PRODUCT_HEADLINE" | translate }}</div>
                <p>$100.00</p>
            </div>
            <div class="skate-txt item">
                <img src="/assets/img/item5.png" alt="" width="64">
                <div class="headline-txt">{{ "PRODUCT_HEADLINE" | translate }}</div>
                <p>$100.00</p>
            </div>
            <div class="skate-txt item">
                <img src="/assets/img/item6.png" alt="" width="64">
                <div class="headline-txt">{{ "PRODUCT_HEADLINE" | translate }}</div>
                <p>$100.00</p>
            </div>

        </div>
    </section>
</main>