<main>
    <section class="py-5 text-center middle">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light text-black">{{ "SIGN_UP" | translate }}</h1>
        </div>
    </section>
    <section class="py-5 d-flex justify-content-center">
        <form (ngSubmit)="SignUp(form.value)" #form="ngForm">
            <div class="form-floating mb-2">
                <input type="email" class="form-control" ngModel name="email" id="floatingInput" placeholder="Your Eemail">
                <label for="floatingInput">{{ "EMAIL_ADDRESS" | translate }}</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" ngModel name="password" id="floatingPassword" placeholder="Password" minlength="6" #pas1="ngModel">
                <label for="floatingPassword">{{ "PASSWORD" | translate }}</label>
                <div class="alert alert-danger mt-2" *ngIf="pas1.errors?.['minlength']">
                    {{ "ERR_PASS" | translate }}
                </div>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" ngModel name="Repeatpassword" id="floatingRepeatPassword" placeholder="Password" minlength="6" #pas2="ngModel">
                <label for="floatingRepeatPassword">{{ "REPEAT_PASSWORD" | translate }}</label>
                <div class="alert alert-danger mt-2" *ngIf="pas2.errors?.['minlength']">
                    {{ "ERR_PASS" | translate }}
                </div>
            </div>
            <button class="w-100 btn btn-lg btn-outline-secondary" type="submit">{{ "SIGN_UP" | translate }}</button>
        </form>
    </section>
</main>