main {
    margin: 0 auto;
    width: 600px;
    background-color: #ffffff;
}

form {
    width: 340px;
}

@media only screen and (max-width: 480px) {
    main {
        width: 100%;
    }
    form {
        width: 100%;
    }
}